:root {
   --overlay-color: rgba(242, 240, 249, .5);
   --border-color: #c6c2de;
   --text-color: #6e6893;
   --bgc: #f4f2ff;
   --accent-color: #6d5bd0;
   --table-color: #25213b;
   --table-border-color: #d9d5ec;
}

* {
   box-sizing: border-box;
}

html {
   box-sizing: border-box;
}

body {
   overflow-x: hidden;
   position: relative;
}

*::before, *::after {
  box-sizing: inherit;
}

ul, ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: inherit;
} 

h1, h2, p, button, label {
   margin: 0;
   padding: 0;
}

fieldset {
   border: none;
   padding: 0;
}

input {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

button {
   border: none;
   cursor: pointer;
}

body {
   font-family: "Inter", sans-serif;
   background-color: #F2F0F9;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
}

